body {
        font-family: 'Product Sans';
        background-image: url('/assets/images/material.jpg');
        background-repeat: no-repeat;
        font-size: 1.4em;
}

body > .inner {
        display: none;
}
      
body.pg-loaded > .inner {
        display: block;
}

.navbar {
        border: 0;
        border-radius: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
        background-clip: padding-box;
        min-height:10px !important;
}

.panel {
        border: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
        background-clip: padding-box;
        border-radius: 5px;
        margin-top: 50px;
}

#logo {
        max-height: 40px;
        margin-top: -10px;
        display: inline-block;
}

.logo-text {
        opacity: 1;
        color: rgb(19, 19, 19);
}

.page-header {
        border-bottom: 0;
}

.heading-register {
        margin-top: -70px;
        font-size: 2em;
        opacity: .85;
        margin-bottom: 0;
        padding: 20px;
        margin-left: 11em;
        color: #fff;
        text-transform: uppercase;
}

.custom-panel {
        height: 5em;
        margin-right: 30px;
        width: 100%;
        background-color: rgb(92, 0, 104);
}

.form-control {
        border: 0;
        box-shadow: none;
        z-index: 1;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        position: relative;
        height: auto;
        border-width: 0 0 2px;
}

.form-control:focus {
        box-shadow: none;
        border-color: rgb(92, 0, 104);
        outline: 0;
}

.btn {
        border-radius: 0;
        text-transform: uppercase;
        outline: none !important;
        background-clip: padding-box;
        box-shadow: none;
}

.btn-primary {
        color: rgb(92, 0, 104);
        background-color: #fff;
        border-color: #fff;
}

.btn-primary:hover {
        color: #fff;
        background-color: rgb(86, 0, 97);
        border-color: rgb(86, 0, 97);
        box-shadow: 5px 5px rgba(86, 0, 97, 0.175);
}