<div class="panel panel-default col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
    <div class="page-header panel panel-default custom-panel">
        <h3 class="heading-register panel-body text-center">Employee Dashboard</h3>
    </div>

    <div class="alert alert-danger" role="alert" ng-show="main.errMsg">
        {{errMsg}}
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <input type="text" class="form-control" name="number" id="number" placeholder="No. of records to display" ng-model="number">

                <div class="spacing">
                    <button type="submit" ng-click="main.showMore(number)" class="btn btn-primary">Apply Filter</button>
                    <button type="submit" ng-click="main.showAll()" class="btn btn-primary">Show All</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 pull-right">
                <input type="text" class="form-control" name="search" ng-model="searchEmployees" placeholder="Search all employees">
            </div>
        </div>
    </div>
    <!-- <div class="page-header space">
    </div> -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>EMPLOYEE ID</th>
                    <th>EMPLOYEE NAME</th>
                    <th>DESIGNATION</th>
                    <th>SERVICE LINE</th>
                    <th>ROLE</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in main.employees | filter:searchEmployees | limitTo:main.limit">
                    <td>{{$index + 1}}</td>
                    <td>{{employee.employee_id}}</td>
                    <td>{{employee.employee_name | uppercase}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.serviceLine}}</td>
                    <td>{{employee.role}}</td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            Total no.of records: {{main.employees.length}}
        </div>
    </div>
</div>