<div class="panel panel-default col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
    <div class="panel panel-default custom-panel">
        <h3 class="heading-register panel-body text-center">Employee Registration</h3>
    </div>
    <div ng-class="main.alert" role="alert" ng-show="main.successMsg || main.errorMsg">
        <button type="button" class="close" ng-click="main.hideAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        <span class="icon" ng-class="main.icon"></span>
        <span class="message">{{ main.successMsg || main.errorMsg }}</span>
        <span ng-show="main.successMsg">...redirecting to /login</span>
    </div>
    <form ng-submit="main.regEmployee()">
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="employee_name">Employee Name
                <span class="required">*</span>
            </label>
            <input type="text" class="form-control" name="employee_name" id="employee_name" ng-model="main.regData.employee_name" ng-disabled="main.disabled">
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="serviceLine">Service Line
                <span class="required">*</span>
            </label>
            <input type="text" class="form-control" name="serviceLine" id="serviceLine" ng-model="main.regData.serviceLine" ng-disabled="main.disabled">
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="designation">Designation
                <span class="required">*</span>
            </label>
            <select class="form-control" name="designation" id="designation" ng-model="main.regData.designation" ng-options="des.option as des.option for des in main.designations"
                ng-disabled="main.disabled">
                <option value="">Select an option</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="role">Role
                <span class="required">*</span>
            </label>
            <select class="form-control" name="role" id="role" ng-model="main.regData.role" ng-options="r.role as r.role for r in main.roles"
                ng-disabled="main.disabled">
                <option value="">Select an option</option>
            </select>
        </div>
        <h4 class="text-center page-header col-xs-12 col-sm-12 col-md-12">Login Information</h4>
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="employee_id">Employee ID
                <span class="required">*</span>
            </label>
            <input type="text" class="form-control" name="employee_id" id="employee_id" ng-model="main.regData.employee_id" ng-disabled="main.disabled">
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <label for="password">Password
                <span class="required">*</span>
            </label>
            <input type="password" class="form-control" name="password" id="password" ng-model="main.regData.password" ng-disabled="main.disabled">
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-6">
            <button type="submit" class="btn btn-primary" ng-disabled="main.disabled">Register</button>
        </div>
    </form>
    <div class="text col-md-12 spacing">
        Already have an account? Please
        <a href="login">Login</a> here.
    </div>
</div>